/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	color:#202020;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -- END RESET -- */

.row {
	max-width: 1200px;
}

.row .row {
	margin:0px;
}


/* -- main styles -- */

.nopad {
	padding:0px;
}

.nopadleft {
	padding-left:0px;
}

.nopadright {
	padding-right:0px;
}

strong {
	font-weight: bold;
}

sup {
	font-size: 10px;
	line-height: 10px;
}

.clear {
	clear:both;
}

.content {
	clear: both;
}

h1, h2, h3, h4, h5 {
	color:#202020;
	font-weight:500;
	margin-bottom:10px;
}

h2 {
	font-size:18px;
}

/* pop ups */

.dark-overlay {
	background:url(../img/60overlay.png);
	width:100%;
	height: 100%;
	position: fixed;
	z-index: 20;
}

.pop-up-box {
	background:#fff;
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
  	left:50%;
  	width:350px;
  	margin-left:-175px;
  	border-radius:6px;
  	padding:30px 34px;
  	padding-bottom:20px;
}

.social-login a {
	display: block;
} 

.login-fb {
	/*background:url(../img/log-fb.png) no-repeat;*/
	margin-bottom:20px;
}

.login-gplus {
	/*background:url(../img/log-gplus.png) no-repeat;*/
}

.or {
	margin:13px 0px;
	line-height: 16px;
}

.pop-up-box .form-element {
	padding:0px;
	padding-right:2px;
}

.pop-up-box .form-element input {
	border:1px solid #ccc;
}

.pop-up-box .form-element input:focus {
	border:1px solid #ccc;
}

.remember {
	margin-bottom:20px;
	font-size:14px;
	font-weight: 300;
	position: relative;
}

.remember input {
	margin-right:8px;
	margin-bottom:0px;
	position: relative;
	top: 1px;
}

.remember a {
	position: absolute;
	right:0;
	top: 0;
	color:#39589a;
	font-size:14px;
	font-weight: 300;
}

.remember a:hover {
	text-decoration: underline;
}

.pop-up-button button {
	margin-bottom:0px;
}

.pop-up-button {
	margin-bottom:12px;
}

.btn-green.wide {
	width: 100%;
}

.pop-up-bottom {
	border-top:1px solid #eaeaea;
	padding-top:12px;
	font-weight: 300;
	font-size:14px;
}

.pop-up-bottom a {
	color:#39589a;
	font-size:14px;
	font-weight: 300;
	text-decoration: underline;
}

.pop-up-bottom a:hover {
	text-decoration: none;
}


.with-email {
	margin-bottom:15px;
}

.login-email {
	background:url(../img/login-email.png) no-repeat left 15px center;
	border:1px solid #ccc;
	font-weight: 300;
	font-size:16px;
	color:#202020;
	border-radius:5px;
	width:100%;
	text-align: center;
	display: block;
	padding:6px 40px;
}

.login-email:hover {
	color:#39589a;
}

.social-login-text {
	font-size:16px;
	font-weight: 300;
}

.social-login-text a {
	color:#39589a;
	font-weight: 300;
}

.social-login-text a:hover {
	text-decoration: underline;
}

.pop-up-text {
	margin-bottom:14px;
	font-size:14px;
	font-weight: 300;
	position: relative;
}

.pop-up-text a {
	color:#39589a !important;
	font-size:14px !important;
	font-weight: 300 !important;
	text-decoration: underline;
}

.pop-up-text a:hover {
	text-decoration: none;
}

.sign-up-tab, .log-in-tab, .sign-up-email-tab {
	display: none;
	margin:10px 0px;
}

















.trigger {
	display: none;
	width:28px;
	height: 20px;
	cursor: pointer;
	background:url(../img/trigger.png) no-repeat center center;
	margin-top:9px;
	float:right;
}

.trigger.close {
	background:url(../img/trigger-close.png) no-repeat center center;
}

.logo-mobile {
	display: none;
}

.nav ul.close {
	display: block;
}

.header {
	background:#263238;
	padding:14px 30px;
	z-index: 8;
}

.nav ul {
	margin-top:16px;
}

.nav ul li {
	display: inline;
	margin-right:35px;
	position: relative;
}

.nav ul li a {
	font-weight: 700;
	color:#fff;
}

.nav ul li a:hover {
	color:#4caf50;
}


/* submenu */

.nav ul li ul {
	position: absolute;
	margin:0px;
	right:0;
	padding-top:0px;
	padding-left:20px;
	border-radius:5px;
	padding-right: 10px;
	display: none;
}

.nav ul li ul:before {
	background:url(../img/nav-before.png) no-repeat right 20px center;
	display: block;
	position: relative;
	content:"";
	height: 12px;
}

.nav ul li ul li {
	display: block;
	text-align: left;
	margin-right:0px;
	background: #fff;
	line-height: 32px;
	padding-left:20px;
	padding-right:10px;
}

.nav ul li ul li:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-top:7px;
}

.nav ul li ul li:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom:7px;
}


.nav ul li ul li a {
	color:#202020 ;
	font-size:18px;
	font-weight: 300 ;
	white-space: nowrap;
}

.nav ul li ul li a span {
	color:#4cad50;
	font-weight: 700;
	margin-left:4px;
}

.user {
	background:url(../img/ico-user.png) no-repeat left center;
	line-height: 45px;
	padding-left:60px;
	display: inline-block;
	font-weight: 300 !important;
	font-size:18px !important;
}

.user:hover {
	color:#fff !important;
}

.nav ul li:hover ul {
	display: block;
}

.user span {
	background:url(../img/dropdown-arrow.png) no-repeat center center;
	height: 7px;
	width:13px;
	display: inline-block;
	position: relative;
	top: -2px;
	margin-left: 4px;
}

.user-messages {
	background:url(../img/messages.png) no-repeat center center;
	display: inline-block;
	width:34px;
	height: 24px;
	position: relative;
	top: 6px;
}








.btn-green {
	font-weight: 700;
	color:#fff;
	background:#4caf50;
	border-bottom:2px solid #1b5e20;
	line-height: 38px;
	border-radius:4px;
	display: inline-block;
	padding:0px 15px;
	min-width:150px;
	text-align: center;
}

.btn-green:hover {
	color:#fff !important;
	background:#62cc67;
}

.btn-grey {
	font-weight: 700;
	color:#fff;
	background:#999;
	border-bottom:2px solid #666666;
	line-height: 38px;
	border-radius:4px;
	display: inline-block;
	padding:0px 15px;
	min-width:150px;
	text-align: center;
}

.btn-grey:hover {
	color:#fff !important;
	background:#afafaf;
}

.btn-orange {
	font-weight: 700;
	color:#fff;
	background:#ff5722;
	border-bottom:2px solid #cf3a09;
	line-height: 38px;
	border-radius:4px;
	display: inline-block;
	padding:0px 15px;
	min-width:150px;
	text-align: center;
}

.btn-orange:hover {
	color:#fff !important;
	background:#ff7246;
}

/* dashboard */

.content.dash {
	padding:14px 0px;
	padding-bottom:25px;
}

.dashboard {
	padding-left:13%;
}

.dashboard-content {
	padding-right:13%;
}


.dashboard-menu-title {
	color:#fff;
	background:#263238;
	padding:7px 13px;
	font-weight: 500;
}

.dashboard ul li {
	padding:7px 13px;
}

.dashboard ul li a {
	color:#727272;
	font-weight: 500;
}

.dashboard ul li a:hover, .dashboard ul li.current a {
	color:#202020;
}

.dashboard-content-title {
	font-size:18px;
	color:#202020;
	font-weight: 500;
	margin-bottom:20px;
}

.form-element {
	padding-left:5%;
	padding-right:0px;
}

.form-label {
	color:#202020;
	font-size:16px;
	font-weight: 400;
	line-height: 38px;
}

.form-label span {
	color:#b20000;
	font-weight: 700;
}

.form-element input {
	height: 39px;
	border:2px solid #ededed;
	border-radius:4px;
	box-shadow: none;
	background: none;
	padding:4px 10px;
	padding-left:16px;
	font-size:16px;
	background:#fff;
}

.form-element input:focus {
	border:2px solid #ededed;
}

.form-element input.half {
	width:49%;
}

.form-element select {
	-webkit-appearance: none;
   	-moz-appearance:    none;
  	appearance:         none;
  	background:url(../img/dropdown-arrow.png) no-repeat right 10px center #fff;
  	height: 39px;
	border:2px solid #ededed;
	border-radius:4px;
	box-shadow: none;
	cursor: pointer;
	padding:4px 10px;
	padding-left:16px;
	font-size:16px;
}

.form-element select option {
	padding:4px 16px;
}

.form-element select.one-third {
	width: 32%;
	display: inline;
	float:left;
	margin-right:2%;
}

.form-element select.one-third:last-child {
	margin-right:0px;
}

.form-element select.half {
	width: 49%;
	display: inline;
	float:left;
	margin-right:2%;
}

.form-element select.half:last-child {
	margin-right:0px;
}

input.place {
	background:url(../img/icon-search.png) no-repeat left 10px center #fff !important;
	padding-left:45px;
}

.form-element textarea {
	height: 100px;
	border:2px solid #ededed;
	border-radius:4px;
	box-shadow: none;
	background: none;
	padding:4px 10px;
	padding-left:16px;
	font-size:16px;
	background:#fff;
}

.form-element textarea:focus {
	border:2px solid #ededed;
}

.form-element label {
	width:49%;
	line-height: 35px;
	float:left;
}

.form-element input[type="checkbox"] {
	margin-bottom:0px;
	margin-right:10px;
}

.form-element label input[type="checkbox"] {
	height: auto;
}


.pl45 {
	padding-left:45px;
}

.dashboard-content .tabs dd, .tabs .tab-title {
	width:33.3333%;
	padding-bottom: 6px;
	background:#263238;
	text-align: center;
}

.dashboard-content .tabs dd, .tabs .tab-title.active, .tabs .tab-title:hover {
	padding-bottom: 0px;
}

.dashboard-content .tabs dd, .tabs .tab-title a {
	color:#fff;
	background:#263238;
	font-size:18px;
	font-weight: 500;
	padding:6px 15px;
	line-height: 20px;
}

.dashboard-content .tabs dd, .tabs .tab-title.active a, .tabs .tab-title a:hover {
	border-bottom:6px solid #56727e;
	background:#263238;
	color:#fff;
}

.dashboard.transaction {
	padding-left:5%;
}

.tabs-content > .content {
	padding:0px;
	
}

table tr th {
	color:#202020;
	font-size:16px;
	font-weight: 300;
}

table tr:nth-of-type(2n) {
	background:#f4f4f4;
}

table tr td {
	color:#b8b8b8;
	font-size:16px;
	font-weight: 300;
	line-height: 19px;
}

.dashboard-content .accordion .accordion-navigation > a, .accordion dd > a {
	background:url(../img/accordion-arrow.png) no-repeat right 15px center #263238;
	color:#fff;
	font-weight: 500;
}

.dashboard-content .accordion .accordion-navigation.active > a, .accordion dd.active > a {
	background:url(../img/accordion-arrow-active.png) no-repeat right 15px center #263238;
}

.dashboard-content .accordion .accordion-navigation > .content, .accordion dd > .content {
	padding:0px;
}

.single-transaction {
	padding:14px 0px;
	border-bottom:1px solid #263238;
	min-height: 140px;
}

.single-transaction ul {
	margin-left:10px;
}

.single-transaction ul li {
	color:#202020;
	font-size:16px;
	font-weight: 300;
}

.single-transaction ul li span {
	color:#b8b8b8;
	background:#f4f4f4;
	display: inline-block;
	width: 70%;
	float: right;
	padding:0px 10px;
}

.single-transaction ul li:nth-child(2n) span {
	background:none;
}

.single-transaction-label {
	display: inline-block;	
	text-align: right;
	width:25%;
}

.transactions-accordion {
	display: none;
}

/* entry */

.entry {
	padding-bottom:50px;
}

.page-title {
	color:#202020;
	font-size:30px;
	font-weight: 700;
	line-height: 36px;
	padding:20px 0px;
	margin-top:15px;
	margin-bottom:20px;
}

.entry p {
	font-size:16px;
	font-weight: 300;
	line-height: 22px;
	margin-bottom:24px;
	text-align: justify;
}

.entry ul li {
	list-style: disc;
}

.entry ol li {
	list-style: decimal;
}

.entry ol, .entry ul {
	margin-left:40px;
	margin-bottom:24px;
}

.entry ul li, .entry ol li {
	font-size:16px;
	font-weight: 300;
	line-height: 22px;
}

.entry .gallery {
	margin:40px 0px;
}

/* wishlist */

.wishlist {
	padding:20px 0px;
}

.wish-item {
	margin-bottom:30px;
}

.wish-item-block {
	position: relative;
}

.wish-item .img-holder img {
	/*max-height: 203px;*/
	width:100%;
}

.wish-item .img-holder {
	position: relative;
	z-index: 2;
}

.wish-item .img-holder a {
	display: none;
	width:64px;
	height: 64px;
	position: absolute;
	z-index: 4;
	top: 38%;
	margin-top: -32px;
}

.wish-item-block.rev .wish-review {
	left:50%;
	margin-left:-32px;
}

.wish-item .img-holder a:hover:after {
	display: block;
}

.wish-item .img-holder a:after {
	color:#fff;
	background:url(../img/dark-overlay.png);
	position: absolute;
	left: -44px;
	width: 160px;
	display: none;
	text-align: center;
	bottom:-30px;
}

.wish-review:after {
	content:"Review this space";
}

.wish-remove:after {
	content:"Remove from wishlist";
}


.wish-review {
	background:url(../img/wish-review.png) no-repeat;
	left:27%;
}

.wish-review:hover {
	background:url(../img/wish-review-hover.png) no-repeat;
}

.wish-remove {
	background:url(../img/wish-remove.png) no-repeat;
	left:58%;
}

.wish-remove:hover {
	background:url(../img/wish-remove-hover.png) no-repeat;
}

.wish-item .img-holder .overlay {
	background:url(../img/dark-overlay.png);
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom: 0;
	visibility:visible;
	opacity:0;
	transition:visibility 0s linear 0.25s,opacity 0.25s linear;
	display: block;
}

.wish-item-block:hover .img-holder .overlay, .wish-item-block:hover .img-holder a {
	visibility:visible;
	opacity:1;
	transition-delay:0s;
	display: block;
}

.wish-item-user {
	background:url(../img/balloon.png) no-repeat center center;
	width:50px;
	height: 56px;
	padding:2px;
	position: absolute;
	top:10px;
	left:-8px;
	z-index: 3;
}

.wish-item-user img {
	max-width: 46px;
}

.wish-item-fav {
	background:url(../img/balloon.png) no-repeat center center;
	display: block;
	width:50px;
	height: 56px;
	position: absolute;
	top:80px;
	left:-8px;
	z-index: 3;
}

.wish-item-fav a {
	display: block;
	width:100%;
	height: 90%;
	background:url(../img/heart-white.png) no-repeat center center;
}

.wish-item-fav.active a, .wish-item-fav a:hover {
	background:url(../img/heart.png) no-repeat center center;
}

.wish-item-block-bottom {
	position: absolute;
	bottom:0;
	right:0;
	left:0;
	height: 50px;
	background:#263238;
	color:#fff;
	z-index: 3;
	padding:12px 11px;
}

.wish-item-price {
	background:url(../img/price-tag.png) no-repeat left center;
	padding-left:30px;
	font-size:16px;
	font-weight: 300;
	white-space: nowrap;
}

.wish-item-stars span {
	background:url(../img/white-star.png) no-repeat left center;
	padding-left:30px;
	font-size:16px;
	font-weight: 300;
}

span.orange {
	color:#ff7043;
}

span.yellow {
	color:#ffeb3a;
}

span.green {
	color:#64dd17;
}

.wish-item-desc {
	color:#727272;
	font-size:16px;
	font-weight: 300;
	line-height: 22px;
	padding:15px 12px;
	padding-bottom:5px;
	text-align: justify;
}

.wish-item-desc span {
	color:#202020;
}

[class*="column"] + [class*="column"]:last-child { 
	float:left;
}

/* list-edit your space */

.list-edit-your-space .submit {
	float:right !important;
	text-align: right;
	color:#1f1f1f;
	font-size:14px;
	font-weight: 300;
}

.list-edit-your-space .submit span {
	color:#b20000;
}

.list-edit-your-space .submit button {
	margin-left:20px;
	margin-top:5px;
}

.search-page .submit {
	margin-top:15px;
}

.img-upload-main {
	margin-bottom:25px;
}

.img-upload-thumbs {
	margin-bottom:30px;
}

.img-upload-thumbs ul li {
	width:18.4%;
	margin-right:2%;
	display: inline-block;
	float:left;
}

.img-upload-thumbs ul li:last-child {
	margin-right:0px;
}

.list-edit-img-upload .btn-grey {
	margin-bottom:25px;
}

/* payment page */

.payment-page {
	padding-top:50px;
}

.end-right {
	float:right !important;
}

.form-text {
	color:#1f1f1f;
	font-size:14px;
	font-weight: 300;
	line-height: 17px;
	margin-bottom:25px;
}

.form-element.submit label {
	width:55%;
	padding-top:7px;
}

.form-element.submit label input[type="checkbox"] {
	margin-left:5px;
}

.form-element.submit label a {
	color:#0059b2;
	font-size:14px;
	font-weight: 300;
	text-decoration: underline;
}

.form-element.submit label a:hover {
	text-decoration: none;
}

.about-room-dates .form-element {
	padding-left:0px;
}

.about-room-text, .about-room-attributes {
	margin-bottom:20px;
}

.payment-total-price {
	border-top:1px solid #ccc;
	padding:20px 0px;
	color:#202020;
	font-size:20px;
	font-weight: 700;
}

.about-room-title {
	font-size:18px;
	font-weight: 500;
	margin-bottom:12px;
}

.about-room-slider {
	margin-bottom:15px;
}

.about-room-content {
	margin-bottom:10px;
}

.about-room-text {
	color:#1f1f1f;
	font-size:16px;
	font-weight: 300;
	line-height: 19px;
	text-align: justify;
}

.attribute-title {
	font-size:16px;
	font-weight: 400;
	color:#202020;
	margin-bottom:7px;
}

.attribute-text {
	font-size:16px;
	font-weight: 300;
	margin-bottom:7px;
}

/* slider */

.orbit-container .orbit-prev {
	background:url(../img/slider-arrow-prev.png) no-repeat center center;
	left: 15px;
}

.orbit-container .orbit-prev span {
	display: none;
}

.orbit-container .orbit-prev:hover {
	background:url(../img/slider-arrow-prev.png) no-repeat center center;
}

.orbit-container .orbit-next {
	background:url(../img/slider-arrow-next.png) no-repeat center center;
	right: 15px;
}

.orbit-container .orbit-next span {
	display: none;
}

.orbit-container .orbit-next:hover {
	background:url(../img/slider-arrow-next.png) no-repeat center center;
}

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
	opacity: 0.7;
}

.gmap {
	margin-bottom:20px;
}

.search-filter {
	height: 1349px;
	overflow-y:scroll;
}

.noUi-horizontal {
    height: 15px;
    margin-top: 13px;
    margin-bottom:6px;
}

.rs {
	margin-bottom:13px;
	font-weight: 300;
	font-size:15px;
}


.noUi-horizontal .noUi-handle {
    width: 28px;
    height: 24px;
}

.noUi-handle::after {
	left: 11px;
	top:4px;
}

.noUi-handle::before {
    top:4px;
}

.noUi-connect {
	background:#ff5722;
}

/* spareroom view page */

.spare-room-view {
	padding:15px 8%;
}

.half-block-title {
	background:#263238;
	font-size:18px;
	font-weight: 500;
	color:#fff;
	padding:5px 12px;
	position: relative;
	width: 85%;
	margin-bottom:14px;
}

.half-block-title .wish-item-stars {
	position: absolute;
	right:12px;
	top:5px;
}

.resides {
	font-size:16px;
	font-weight: 300;
	position: absolute;
	right:12px;
	top:5px;
}

.half-block-text {
	font-size:16px;
	font-weight: 300;
	color:#1f1f1f;
	text-align: justify;
	line-height: 22px;
	margin-bottom:25px;
}

.spare-room-slider-bottom {
	background:#263238;
	padding:7px 0px;
	margin-bottom:30px;
	color:#fff;
}

.slider-bottom-left .wish-item-fav {
	position: relative;
	top:auto;
	left:auto;
	height: 50px;
	background:none;
	float: right;
}

.slider-bottom-left .wish-item-fav a {
	height: 50px;
}

.user-img img {
	max-width: 50px;
}

.slider-bottom-right {
	padding-top: 12px;
}

.spare-room-additional-info {
	margin-bottom:20px;
}

.m15 {
	margin:15px 0px;
}

.similar-list-title {
	font-size:18px;
	font-weight: 500;
	color:#fff;
	padding:10px 20px;
	position: relative;
}

.similar-item {
	padding:0px 10px;
	margin-bottom:20px;
}

.similar-list {
	padding:0px 10px;
}

.similar-item img {
	width: 100%;
}

.spare-room-similar-block {
	background:#263238;
	margin-bottom:25px;
}

.spare-room-date {
	padding-left:0px;
}

.spare-room-comment textarea {
	height: 94px;
}

.spare-room-btns a {
	margin-bottom:12px;
}

.spare-room-btns-wide a {
	width: 100%;
}

.front-search {
	background:#263238;
	color:#fff;
}

.search-filter .wishlist {
	padding:0px;
}


/* front intro */

.front-intro .header {
	background: none;
}

.front-intro .orbit-container .orbit-slides-container img {
	width: 100%;
}

.front-slider {
	margin-top:-96px;
}

.slide-caption {
	font-size:70px;
	text-transform: uppercase;
	top: 50%;
	transform: translateY(-50%);
	color:#fff;
	font-weight: 700;
	text-align: center;
	position: absolute;
	left:0;
	right:0;
	line-height: 60px;
}

.slide-caption-sm {
	font-size:30px;
}

.orbit-bullets-container {
    margin-top: -55px;
    position: relative;
    z-index: 4;
}


.front-slider .orbit-container .orbit-prev {
	left:65px;
}

.front-slider .orbit-container .orbit-next {
	right:65px;
}


.front-slider .orbit-bullets li {
	width:15px;
	height: 15px;
	margin-right:10px;
}


.front-search .form-element {
	padding-left:0px;
}

.front-search select {

}

.s-submit {
	background:url(../img/icon-search.png) no-repeat left 18px center #ff5722;
	padding-left:35px;
	font-size:20px;
	margin-bottom:0px;
}

.s-submit:hover {
	background:url(../img/icon-search.png) no-repeat left 18px center #ff7246;
}

.front-search-block {
	padding:48px 5%;

}

.s-date-start select, .s-date-end select, .s-place input, .s-price select  {
	border-radius:0px;
	border:none;
	text-align: center;
	color:#ccc !important;
	font-size:16px !important;
	font-weight: 400;
	margin-bottom:0px;
}

.s-date-start select:focus, .s-date-end select:focus, .s-place input:focus, .s-price select:focus  {
	border-radius:0px;
	border:none;
	color:#202020 !important;
}

.s-place input {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size:16px !important;
}

.s-price select {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.front-search select option {
	color:#ccc;
}

.pagination {
	margin:30px 0px;
}

.pagination ul li {
	display: inline-block;

}

.pagination ul li a {
	display: inline-block;
	width:30px;
	height: 30px;
	color:#959595;
	font-size:15px;
	border:1px solid #e8e8e8;
	float: left;
	line-height: 28px;
}

.pagination ul li a:hover, .pagination ul li.current a {
	background:#ccc;
	color:#fff;
}

.page-prev {
	background:url(../img/page-prev.png) no-repeat center center;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.page-next {
	background:url(../img/page-next.png) no-repeat center center;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.page-prev:hover {
	background:url(../img/page-prev-hover.png) no-repeat center center #ccc !important;
}

.page-next:hover {
	background:url(../img/page-next-hover.png) no-repeat center center #ccc !important;
}


/* footer */

.footer {
	background:#263238;
	color:#b8b8b8;
	padding-top:70px;
}


.lang {
	height: 38px;
	width: 50%;
	background: #fff;
	position: relative;
	-webkit-box-shadow: inset 0px 3px 5px 1px rgba(219,219,219,0.44);
	-moz-box-shadow: inset 0px 3px 5px 1px rgba(219,219,219,0.44);
	box-shadow: inset 0px 3px 5px 1px rgba(219,219,219,0.44);
	margin:0 auto;
	border-radius:5px;
	margin-bottom:30px;
}

.lang:hover {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.lang a {
	color:#727272;
	display: block;
	text-align: center;
	font-size:16px;
	line-height: 38px;
}

.lang span {
    background: url("../img/dropdown-arrow.png") no-repeat scroll center center transparent;
    display: block;
    height: 6px;
    width: 10px;
    cursor: pointer;
    float: right;
    padding: 19px;
    position: absolute;
	right: 0px;
	top: 0;
}

.current-language {
    line-height: 28px;
}

.lang:hover ul {
	display:block;
}

.lang ul {
    position: absolute;
    top: 38px;
    z-index: 99;
	display:none;
	width: 100%;
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(219,219,219,1);
	-moz-box-shadow: inset 0px 0px 5px 2px rgba(219,219,219,1);
	box-shadow: inset 0px 0px 5px 2px rgba(219,219,219,1);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.lang ul li {
    background: none repeat scroll 0% 0% #FFF;
    display: inline-block;
    float: left;
    width: 100%;
    line-height: 28px;
	border-bottom:1px solid #e8e8e8;
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
	color:#333;
	font-size:11px;
	text-align: center;

}

.lang ul li:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.lang ul li:last-child a {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.lang ul li:hover {
	background:#efefef;
}

.lang ul li input {
	margin:0px;
	margin-left:8px;
	margin-right:5px;
}

.lang ul li a {
    padding: 0px 5px;
    display: block;
}

.footer-widget-title {
	color:#fff;
	margin-bottom:14px;
	font-size:18px;
}

.footer-links ul li {
	text-align: left;
}

.footer-links ul li a, .footer-contacts ul li a {
	color:#b8b8b8;
	font-weight: 300;
	font-size:16px;
}

.footer-links ul li a:hover, .footer-contacts ul li a:hover {
	text-decoration: underline;
}

.footer-bottom {
	border-top:1px solid #b8b8b8;
	padding:18px 6%;
	margin-top:48px;
}

.footer-social .footer-widget-title {
	margin-bottom:25px;
	margin-top:36px;
}

.footer-social ul li {
	display: inline;
	margin-right:16px;
}

.footer-social ul li a {
	display: inline-block;
	width:40px;
	height: 40px;
}

.social-fb {
	background:url(../img/social-fb.png) no-repeat center center;
}

.social-fb:hover {
	background:url(../img/social-fb-hover.png) no-repeat center center;
}

.social-twitter {
	background:url(../img/social-twitter.png) no-repeat center center;
}

.social-twitter:hover {
	background:url(../img/social-twitter-hover.png) no-repeat center center;
}

.social-gplus {
	background:url(../img/social-gplus.png) no-repeat center center;
}

.social-gplus:hover {
	background:url(../img/social-gplus-hover.png) no-repeat center center;
}

.social-youtube {
	background:url(../img/social-youtube.png) no-repeat center center;
}

.social-youtube:hover {
	background:url(../img/social-youtube-hover.png) no-repeat center center;
}

.social-linkedin {
	background:url(../img/social-linkedin.png) no-repeat center center;
}

.social-linkedin:hover {
	background:url(../img/social-linkedin-hover.png) no-repeat center center;
}

.social-pin {
	background:url(../img/social-pin.png) no-repeat center center;
}

.social-pin:hover {
	background:url(../img/social-pin-hover.png) no-repeat center center;
}

.social-insta {
	background:url(../img/social-insta.png) no-repeat center center;
}

.social-insta:hover {
	background:url(../img/social-insta-hover.png) no-repeat center center;
}

.cont-tel {
	background:url(../img/icon-tel.png) no-repeat left center;
	padding-left: 35px;
	display: inline-block;
	padding-right: 15px;
	margin-bottom:10px;
}

.cont-mail {
	background:url(../img/icon-mail.png) no-repeat left center;
	padding-left: 38px;
	display: inline-block;
	padding-right: 0px;
	margin-bottom:7px;
}

.copyrights {
	font-weight: 300;
}

.solution a {
	color:#b8b8b8;
}

.solution a:hover {
	color:#e7e7e7;
}


@media only screen and (max-width: 1200px) {

	.entry {
		padding:40px 10px;
	}

	.wishlist {
		padding:15px 15px;
	}

	.form-element.submit label {
		width:100%;
		padding-top:2px;
		margin-bottom:5px;
	}

}

@media only screen and (max-width:64.001em) {
	
	.lang {
		margin-bottom:15px;
	}

	.footer {
		padding-top:30px;
	}

	.spare-room-view {
	    padding: 15px 2%;
	}

	.half-block-title {
		width:100%;
	}

	.slider-bottom-right {
		padding-top: 0px;
	}

}


@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	.lang {
		width:70%;

	}

	.nav ul li {
	    margin-right: 10px;
	}

	.dashboard {
		padding-left:7%;
	}

	.dashboard-content {
		padding-right:7%;
	}	

	.slide-caption {
	    font-size: 57px;
	}

	.header {
		padding: 14px 10px;
	}


}

@media screen and (max-width:640px) {

	.header {
		padding:8px 8px;
	}

	.logo a {
		display: none;
	}

	.logo .logo-mobile {
		display: block;
	}
	.footer-links ul li {
		text-align: center;
	}

	.footer-contacts {
		margin-bottom:25px;
	}

	.lang {
		width: 80%;
	}

	.content.dash {
		padding:14px 10px;
	}

	.dashboard {
		padding-left:0px;
		margin-bottom:25px;
	}

	.dashboard.transaction {
		padding-left:0px;
	}


	.form-element {
		padding-left:0px;
	}

	.dashboard-content {
		padding:0px;
	}

	.form-label {
		margin-bottom:4px;
	}

	.nav ul {
		display: none;
	}

	.trigger {
		display: block;
	}

	.transactions-accordion {
		display: block;
	}

	.transactions-tabs {
		display: none;
	}

	.search-filter {
		overflow-y: hidden;
		height: auto;
	}

	.resides {
	    font-size: 16px;
	    font-weight: 300;
	    position: relative;
	    right: auto;
	    top: auto;
	    width: 45%;
	    display: inline-block;
	    text-align: right;
	}

	.spare-room-about, .spare-room-about-owner, .spare-room-similar {
		padding-right:0px;
	}

	.spare-room-images, .spare-room-additional-info, .spare-room-map {
		padding-left:0px;
	}

	.btn-green, .btn-grey, .btn-orange {
		min-width: 130px;
	}

	.front-slider {
		margin-top:-52px;
	}

	.slide-caption {
		font-size:26px;
		line-height: 30px;
	}

	.slide-caption-sm {
		font-size:18px;
	}

	.front-intro .orbit-container .orbit-slides-container img {
		width: 100%;
		min-height: 220px;
	}


	.orbit-container .orbit-slides-container {
		min-height: 220px;
	}

	.page-title {
		font-size:22px;
		padding: 2px 0px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.front-search-block {
		padding:20px 0%;
	}

	.s-submit {
		font-size:18px;
	}

	.s-date-start select, .s-date-end select, .s-place input, .s-price select  {
		border-radius:5px;
		border:none;
		text-align: left;
		color:#ccc !important;
		font-size:16px !important;
		font-weight: 400;
		margin-bottom:15px;
	}

	.s-date-start {
		padding-right:10px;
	}

	.s-date-end {
		padding-left:10px;
	}

	.nav ul {
		position: fixed;
		left: 0;
		top: 0;
		margin-top: 0;
		background: #fff;
		height: 100%;
		padding-left: 10px;
		padding-top: 10px;
		width: 83%
	}

	.nav ul li {
		display: block;
		text-align: left;
		margin-right: 10px;
	}

	.nav ul li a {
		font-weight: 500 ;
		color:#202020;
	}

	.nav ul li a:hover {
		color:#4caf50 ;
	}

	.nav ul li ul {
		position: relative;
	}

	.nav ul li ul:before {
		display: none;
	}

	.nav ul li ul li a {
		font-weight: 300 !important;
	}

	.nav .btn-green {
		color:#fff !important;
		margin-top:10px;
	}

	.nav .btn-green:hover {
		color:#fff !important;
	}

	.sign-up-tab, .log-in-tab, .sign-up-email-tab {
		display: block;
	}

	.pop-up-text a {
		color:#39589a !important;
		font-size:14px !important;
		font-weight: 300 !important;
		text-decoration: underline;
	}

	.pop-up-bottom a {
		color:#39589a !important;
		font-size:14px;
		font-weight: 300 !important;
		text-decoration: underline;
	}

	.social-login-text a {
		color:#39589a !important;
		font-weight: 300 !important;
	}

	.user:hover {
		color:#62CC67 !important;
	}

	.wish-item .img-holder img {
		max-height: 450px;
	}

	.front-slider .orbit-prev, .front-slider .orbit-next {
		display: none;
	}


}