/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

@font-face {
    font-family: "Moderat";
    src: url(../fonts/Moderat-Regular.ttf);
}

body {
    background-color: #fbf9f7;
    line-height: 1.5;
    font-family: 'Moderat', sans-serif;
    color: #202020;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.column, .columns {
    padding-right: 15px;
    padding-left: 15px;
}

/* -- END RESET -- */

.row {
    max-width: 1230px;
}

body.searchpage .row {
    max-width: 1530px;
}

.row .row {
    margin: 0px;
}

/* -- main styles -- */

.nopad {
    padding: 0px;
}

.pad20 {
    padding: 0px 0px 20px 0px
}

.pad10 {
    padding: 0px 0px 10px 0px
}

.nopadleft {
    padding-left: 0px;
}

.nopadright {
    padding-right: 0px;
}

strong {
    font-weight: bold;
}

.helpIcons{
    width: 40px;
}

sup {
    font-size: 10px;
    line-height: 10px;
}

.helpIcons{
    width: 40px;
}

.clear {
    clear: both;
}

.content {
    clear: both;
}

h1, h2, h3, h4, h5 {
    color: #202020;
    font-weight: 500;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.43;
}

.map-thumb {
    height: 90px;
    width: 100%;
    object-fit: contain;
}

.align-center {
    text-align: center;
}

.font-size-12 {
    font-weight: normal;
    font-size: 0.875rem;
    color: #4d4d4d;
}

.front-search-block input::-webkit-input-placeholder {
    color: #000 !important;
}

.front-search-block input:-moz-placeholder { /* Firefox 18- */
    color: #000 !important;
}

.front-search-block input::-moz-placeholder { /* Firefox 19+ */
    color: #000 !important;
}

.front-search-block input:-ms-input-placeholder {
    color: #000 !important;
}

/* information */

.shareboxit-information {
    padding: 100px 0 65px;
}

.information-title {
    padding-top: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: #253238;
}

.shareboxit-information img:nth-child(1) {
    width: 150px;
}

.shareboxit-information p:last-child {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #253238;
}

.shareboxit-information img.path-image {
    position: absolute;
    left: 15%;
    width: 70%;
    right: 15%;
}

.save-money-information img {
    width: 90px;
    position: relative;
    top: -17px;
}

.save-money-information p {
    font-size: 16px;
    line-height: 1.69;
    text-align: left;
    color: #253238;
}

/* pop ups */

/*.dark-overlay {
	width:100%;
	height: 100%;
	position: fixed;
}*/
#first_time_instruction {
    position: fixed;
    width: 90%;
    min-height: 80px;
    padding: 20px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background: #47b04b;
    color: #fff;
    text-align: center;
}

#more-filters-content {
    display: none;
}

.size-fitler,
.price-filter {
    padding-top: 15px;
}

#errors, #success, #upload-errors, .front_page_errors {
    width: 100%;
    border: 1px solid #F8ACAC;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: red;
    word-wrap: break-word;
    font-size: 14px;
}

#success, .success {
    border: 1px solid green !important;
    color: green !important;
}

#errors > p, #success > p, #upload-errors > p {
    font-size: 14px;
    margin: 0px;
}

.front_page_errors > p {
    font-size: 14px;
    margin: 0px;
}

.front_page_errors {
    width: 90%;
    margin: 0px auto;
    position: absolute;
    top: 130px;
    left: 5%;
    background-color: #FFF;
    z-index: 1004;
    opacity: 0.6;
    font-weight: bold;
}

.pop-up-box .close-reveal-modal {
    top: 0;
    right: 10px;
}

.pop-up-box {
    background: #fff;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    width: 320px;
    margin-left: -160px;
    border-radius: 6px;
    padding: 45px 15px 20px 15px;
}

.social-login a i {
    line-height: 20px;
}

.social-login a {
    display: block;
    color: #FFF;
}

.login-fb {
    background-color: #3A589B;
}

.login-gplus {
    background-color: #D34836;
}

.login-gplus,
.login-fb {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 2px;
    font-family: Moderat;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.or {
    margin: 13px 0px;
    line-height: 16px;
}

.padding-top10 {
    padding-top: 10px;
}

.padding-top20 {
    padding-top: 20px;
}

.pop-up-box .form-element {
    padding: 0px;
    padding-right: 2px;
}

.pop-up-box .form-element input {
    border: 1px solid #ccc;
}

.pop-up-box .form-element input:focus {
    border: 1px solid #ccc;
}

.remember {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    position: relative;
}

.remember input {
    margin-right: 8px;
    margin-bottom: 0px;
    position: relative;
    top: 1px;
}

.remember a {
    position: absolute;
    right: 0;
    top: 0;
    color: #39589a;
    font-size: 14px;
    font-weight: 300;
}

.remember a:hover {
    text-decoration: underline;
}

.pop-up-button button {
    margin-bottom: 0px;
}

.pop-up-button {
    margin-bottom: 12px;
}

.btn-green.wide {
    width: 100%;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0px 15px;
    line-height: 38px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-right: 15px;
}

.btn-success {
    color: #fff;
    background-color: #999;
    border-bottom: 2px solid #666666;
    margin-bottom: 25px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.morecontent span {
    display: none;
}

.pricettl {
    color: #ffffff;
    text-decoration: underline;
}

.pricettl:hover {
    color: #f4f4f4;
}

.ingreen::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #FF5607;
}

.ingreen:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FF5607;
    opacity: 1;
}

.ingreen::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FF5607;
    opacity: 1;
}

.ingreen:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FF5607;
}

.profile {
    float: left;
    width: 30% !important;
}

.profile-info {
    float: left;
    width: 70% !important;
}

.pop-up-bottom {
    border-top: 1px solid #eaeaea;
    padding-top: 12px;
    font-weight: 300;
    font-size: 14px;
}

.pop-up-bottom a {
    color: #39589a;
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}

.pop-up-bottom a:hover {
    text-decoration: none;
}

.with-email {
    margin-bottom: 15px;
}

.login-email {
    background: url(../img/login-email.png) no-repeat left 15px center;
    border: 1px solid #ccc;
    font-weight: 300;
    font-size: 16px;
    color: #202020;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    display: block;
    padding: 6px 40px;
}

.login-email:hover {
    color: #39589a;
}

.social-login-text {
    font-size: 16px;
    font-weight: 300;
}

.social-login-text a {
    color: #39589a;
    font-weight: 300;
}

.social-login-text a:hover {
    text-decoration: underline;
}

.pop-up-text {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 300;
    position: relative;
}

.pop-up-text a {
    color: #39589a !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    text-decoration: underline;
}

.pop-up-text a:hover {
    text-decoration: none;
}

.sign-up-tab, .log-in-tab, .sign-up-email-tab {
    display: none;
    margin: 10px 0px;
}

.trigger {
    display: none;
    width: 22px;
    height: 20px;
    cursor: pointer;
    margin-top: 9px;
    float: right;
}

.trigger .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #253238;
}

.trigger .icon-bar + .icon-bar {
    margin-top: 4px;
}

/*.trigger.close {*/
/*background: url(../img/trigger-close.png) no-repeat center center;*/
/*}*/

.logo-mobile {
    display: none;
}

.nav ul.close {
    display: block;
}

.header {
    background: #ffffff;
    padding: 0 15px;
    z-index: 8;
}

.header-search-form {
    display: inline-block;
    height: 80px;
    width: 100%;
}

.header-search {
    padding: 0 10px;
}

.place-search-btn {
    position: absolute;
    padding: 5px;
    width: 25px;
    top: 27px;
    right: 30px;
    background-color: #ffffff;
}

.place-search-btn:hover,
.place-search-btn:active {
    background-color: #ffffff;
}

.header-search-form .place-search {
    padding-left: 40px;
    font-size: 20px;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    height: 80px;
    border-right: 1px solid rgba(37, 50, 56, 0.15);
    border-left: 1px solid rgba(37, 50, 56, 0.15);
}

.nav ul li {
    display: inline;
    position: relative;
}

.nav ul li a {
    font-family: Moderat;
    font-size: 15px;
    text-align: right;
    color: #253238;
    padding: 32px 20px;
}

.nav ul li a.btn-orange {
    color: #ffffff;
    background-color: #ff5607;
    border: 0;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 30px;
    text-transform: uppercase;
}

.nav ul li input.btn-orange {
    color: #ffffff;
    background-color: #ff5607;
    border: 0;
    border-radius: 2px;
    font-family: Moderat;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav ul li a:last-child {
    padding-right: 30px;
}

.btn-white,
.btn-green,
.nav ul li a.btn-green {
    padding: 10px 30px;
    border-radius: 2px;
    background-color: #47b04b;
    font-family: Moderat;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.nav ul li input.btn-green {
    padding: 10px 30px;
    border-radius: 2px;
    background-color: #47b04b;
    border: 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-white {
    background-color: #ffffff;
    color: #253238;
}

.btn-green-small {
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #47b04b;
    font-family: Moderat;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.nav ul li a:hover {
    color: #47b04b;
}

.btn-white:hover,
.nav ul li a.btn-green:hover {
    background-color: #4ec952;
}

.btn-white:hover,
.nav ul li input.btn-green:hover {
    background-color: #4abf4e;
}

.btn-white:hover,
.nav ul li input.btn-orange:hover {
    background-color: #ff712c;
}

.header .logo .logo-desktop img {
    margin-top: 24px;
    width: 211px;
}

/* submenu */

.nav ul li ul {
    position: absolute;
    margin: 0px;
    right: 0;
    padding-top: 0px;
    padding-left: 20px;
    border-radius: 5px;
    padding-right: 10px;
    display: none;
}

/*.nav ul li ul:before {*/
/*background: url(../img/nav-before.png) no-repeat right 20px center;*/
/*display: block;*/
/*position: relative;*/
/*content: "";*/
/*height: 12px;*/
/*}*/

.nav ul li ul li {
    display: block;
    text-align: left;
    margin-right: 0px;
    background: #fff;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 10px;
}

.nav ul li ul li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 7px;
}

.nav ul li ul li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 7px;
}

.nav ul li ul li a {
    color: #202020;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    white-space: nowrap;
}

.nav ul li ul li a span {
    color: #4cad50;
    font-weight: 700;
    margin-left: 4px;
}

.nav ul li a.user {
    line-height: 5px;
    padding: 19px 10px 15px 10px;
    display: inline-block;
    font-weight: 300 !important;
    font-size: 18px !important;
}

.user img {
    width: 46px;
    height: 46px;
    margin-right: 10px;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
    border: 2px solid #fff;
}

.nav ul li:hover ul {
    display: block;
}

.user span {
    background: url(../img/dropdown-arrow.png) no-repeat center center;
    height: 7px;
    width: 13px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 4px;
}

.user-messages {
    background: url(../img/messages.png) no-repeat center center;
    display: inline-block;
    width: 34px;
    height: 24px;
    position: relative;
    top: 6px;
}

/*.btn-green, */
.btn-red {
    font-weight: 700;
    color: #fff;
    background: #47b04b;
    border-bottom: 2px solid #1b5e20;
    line-height: 38px;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 15px;
    min-width: 150px;
    text-align: center;
}

.btn-red {
    background: red;
}

.btn-green-small:hover,
.btn-green:hover {
    color: #fff !important;
    background: #4ec952;
}

.btn-grey {
    font-weight: 700;
    color: #fff;
    background: #999;
    border-bottom: 2px solid #666666;
    line-height: 38px;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 15px;
    min-width: 150px;
    text-align: center;
}

.btn-grey:hover {
    color: #fff !important;
    background: #afafaf;
}

.btn-orange {
    color: #ffffff;
    background-color: #ff5607;
    border: 1px solid #ff5607;
    border-radius: 2px;
    font-family: Moderat;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding: 12px 45px;
}

.btn-orange:hover,
.btn-orange:focus {
    color: #ff5607 !important;
    background: #ffffff;
    border: 1px solid #ff5607;
}

#more-filters-content > .small-12 {
    border-bottom: 1px solid rgba(37, 50, 56, 0.1);
    padding: 15px;
}

#more-filters-content .other-options-item:nth-child(1) {
    padding-bottom: 15px;
}

#more-filters-content .small-only-text-left {
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 15px;
}

#more-filters-content .other-options-item {
    color: #7d7d7d;
}

.nav ul li a.btn-orange:hover,
.nav ul li a.btn-orange:focus {
    color: #ffffff;
    background-color: #FF6C0B;
}

.btn-orange i.fa {
    display: inherit;
}

/* dashboard */

.content.dash {
    padding: 15px;
    padding-bottom: 25px;
}

.dashboard {
    padding-left: 0;
}

.dashboard-content {
    padding: 0 0 0 15px;
}

.dashboard-menu-title {
    color: #fff;
    background: #253238;
    padding: 7px 13px;
    font-weight: 500;
}

.with-border {
    border: 1px solid #dce0e0;
}

.dashboard-panel {
    padding: 20px 0.9375rem 20px 0.9375rem;
    margin: 0px;
}

.dashboard-panel-footer {
    padding: 20px 0px 20px 0px;
    text-align: center;
    border-top: 1px solid #dce0e0;
}

.dashboard-panel-footer .btn-green {
    margin: 0px;
}

.dashboard ul li {
    padding: 7px 13px;
}

.dashboard ul li a {
    color: #727272;
    font-weight: 500;
}

.dashboard ul li a:hover, .dashboard ul li.current a {
    color: #202020;
}

.dashboard-content-title {
    font-size: 18px;
    color: #202020;
    font-weight: 500;
    margin-bottom: 50px;
}

.form-element {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

.form-label {
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

.form-label span {
    color: #b20000;
    font-weight: 700;
}

span#size {
    font-weight: 100;
    color: #000000;
}

.form-element input {
    height: 39px;
    border: 2px solid #ededed;
    border-radius: 2px;
    box-shadow: none;
    background: none;
    padding: 4px 10px 4px 40px;
    font-size: 16px;
    background: #fff;
}

.text-element input[type="checkbox"] {
    height: auto;
}

.form-element input:focus {
    border: 2px solid #ededed;
}

.form-element input.half {
    width: 49%;
}

.form-element select option {
    padding: 4px 16px;
}

.form-element select.one-third {
    width: 32%;
    display: inline;
    float: left;
    margin-right: 2%;
}

.form-element select.one-third:last-child {
    margin-right: 0px;
}

.form-element select.half, .form-element input.half {
    width: 49%;
    display: inline;
    float: left;
    margin-right: 2%;
}

#save_space .form-element input.half {
    width: 100%;
}

.spare-room-date input.half {
    width: 100%;
    float: none;
}

.form-element select.half:last-child, .form-element input.half:last-child {
    margin-right: 0px;
}

input.place-search {
    background: url(../img/icon-search.svg) no-repeat left 20px center #fff !important;
}

input.start_date,
input.end_date,
select.price-tag {
    background-position: 100% 50%;
    background-size: 15% 8%;
}

.review-text,
.form-element textarea {
    height: 100px;
    border: 2px solid #ededed;
    border-radius: 2px;
    box-shadow: none;
    background: none;
    padding: 4px 10px;
    padding-left: 16px;
    font-size: 16px;
    background: #fff;
}

.review-text {
    margin-top: 15px;
    height: 50px;
}

.form-element textarea:focus {
    border: 2px solid #ededed;
}

.form-element label {
    padding-right: 15px;
    line-height: 35px;
    float: left;
    color: #7d7d7d;
}

.text-element label {
    width: 100%;
    line-height: normal;
    float: left;
    font-size: 14px;
}

.form-element input[type="checkbox"] {
    margin-bottom: 0px;
    margin-right: 10px;
}

.form-element label input[type="checkbox"] {
    height: auto;
}

.pl45 {
    padding-left: 45px;
}

.dashboard-content .tabs dd, .tabs .tab-title {
    width: 50%;
    padding-bottom: 6px;
    background: #253238;
    text-align: center;
}

.dashboard-content .tabs dd, .tabs .tab-title.active, .tabs .tab-title:hover {
    padding-bottom: 0px;
}

.dashboard-content .tabs dd, .tabs .tab-title a {
    color: #fff;
    background: #253238;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 15px;
    line-height: 20px;
}

.dashboard-content .tabs dd, .tabs .tab-title.active a, .tabs .tab-title a:hover {
    border-bottom: 6px solid #56727e;
    background: #253238;
    color: #fff;
}

.dashboard.transaction {
    padding-left: 0;
}

.tabs-content > .content {
    padding: 0px;

}

table tr th {
    color: #202020;
    font-size: 16px;
    font-weight: 300;
}

table tr:nth-of-type(2n) {
    background: #f4f4f4;
}

table tr td {
    color: #b8b8b8;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.dashboard-content .accordion .accordion-navigation > a, .accordion dd > a {
    background: url(../img/accordion-arrow.png) no-repeat right 15px center #253238;
    color: #fff;
    font-weight: 500;
}

.dashboard-content .accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: url(../img/accordion-arrow-active.png) no-repeat right 15px center #253238;
}

.dashboard-content .accordion .accordion-navigation > .content, .accordion dd > .content {
    padding: 0px;
}

.single-transaction {
    padding: 14px 0px;
    border-bottom: 1px solid #253238;
    min-height: 140px;
}

.single-transaction ul {
    margin-left: 10px;
}

.single-transaction ul li {
    color: #202020;
    font-size: 16px;
    font-weight: 300;
}

.single-transaction ul li span {
    color: #b8b8b8;
    background: #f4f4f4;
    display: inline-block;
    width: 70%;
    float: right;
    padding: 0px 10px;
}

.single-transaction ul li:nth-child(2n) span {
    background: none;
}

.single-transaction-label {
    display: inline-block;
    text-align: right;
    width: 25%;
}

.transactions-accordion {
    display: none;
}

/* entry */

.entry {
    padding-bottom: 50px;
}

.textpad {
    padding: 0px 40px 50px 40px;
}

.page-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #253238;
    text-transform: uppercase;
    padding: 20px 0px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.entry p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 24px;
    text-align: justify;
}

.helpText p{
    text-align: left;
}

.helpText ul li:before {
    content: "";
    line-height: 1em;
    width: .5em;
    height: .5em;
    background-color: #47B04B;;
    float: left;
    margin: 9px .25em 0;
    border-radius: 50%;
}

/*.entry ul li {*/
    /*list-style: disc;*/
/*}*/

/*.entry ol li {*/
    /*list-style: decimal;*/
/*}*/

.entry ol, .entry ul {
    margin-left: 40px;
    margin-bottom: 24px;
}

.helpText ul {
    list-style: none;
    line-height: 1em;
    font-size: 3vw;
    margin-left: 80px;
}

.entry ul li, .entry ol li {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.entry .gallery {
    margin: 40px 0px;
}

/* wishlist */

.wishlist {
    padding: 20px 0px;
}

.wish-item {
    margin-bottom: 30px;
}

.wish-item-block {
    position: relative;
}

.wish-item .img-holder img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.wish-item .img-holder {
    position: relative;
    z-index: 2;
}

.wish-item .img-holder a.wish-remove,
.wish-item .img-holder a.wish-review,
.wish-item .img-holder span.wish-review {
    display: block;
    opacity: 0;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 4;
    top: 55%;
    margin-top: -32px;
}

.wish-item-block.rev .wish-review {
    left: 50%;
    top: 50%;
    margin-left: -32px;
}

.ratable {
    padding-bottom: 15px;
}

.wish-item .img-holder a:hover:after,
.wish-item .img-holder span:hover:after {
    display: block;
}

.wish-item .img-holder a:after,
.wish-item .img-holder span:after {
    color: #fff;
    background: url(../img/dark-overlay.png);
    position: absolute;
    left: -44px;
    width: 160px;
    display: block;
    text-align: center;
    bottom: -30px;
}

.wish-review {
    background: url(../img/wish-review.png) no-repeat;
    left: 27%;
}

.wish-review-wishlist {
    left: 37%;
}

.wish-review:hover {
    background: url(../img/wish-review-hover.png) no-repeat;
}

.wish-remove {
    background: url(../img/wish-remove.png) no-repeat;
    left: 58%;
}

.wish-remove:hover {
    background: url(../img/wish-remove-hover.png) no-repeat;
}

.wish-item .img-holder .overlay {
    background: url(../img/dark-overlay.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    visibility: visible;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.wish-item-block:hover .img-holder .overlay, .wish-item-block:hover .img-holder a,
.wish-item-block:hover .img-holder span {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    display: block;
}

.wish-item-user {
    background: url(../img/balloon.png) no-repeat center center;
    width: 50px;
    height: 56px;
    padding: 2px;
    position: absolute;
    top: 10px;
    left: -8px;
    z-index: 3;
}

.wish-item-user img {
    object-fit: cover;
    height: 45px;
    width: 48px;
}

.wish-item-fav {
    background: url(../img/balloon.png) no-repeat center center;
    display: block;
    width: 50px;
    height: 56px;
    position: absolute;
    top: 80px;
    left: -8px;
    z-index: 3;
}

.spare-room-slider .wish-item-fav {
    top: 20px;
}

#show-all-reviews div.row {
    border-bottom: 1px solid rgba(37, 50, 56, 0.1);
    display: none;
}

#show-all-reviews div.row:nth-child(1) {
    display: block;
}

.all-reviews {
    padding-bottom: 30px;
}

.all-reviews #colorstar h1 {
    margin-bottom: 30px;
}

.all-reviews .btn-orange {
    line-height: 0;
}

#show-all-reviews .row {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.wish-item-fav a {
    display: block;
    width: 100%;
    height: 90%;
    /*background: url(../img/heart-white.png) no-repeat center center;*/
}

.wish-item-fav.active a, .wish-item-fav a:hover {
    /*background: url(../img/heart.png) no-repeat center center;*/
}

.wish-item-fav.active a:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 32px;
    position: relative;
    top: 2px;
    left: 9px;
    color: #FF5607;
}

.wish-item-block-bottom {
    position: absolute;
    top: 30px;
    right: 0;
    background: #ff5607;
    color: #ffffff;
    z-index: 3;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

.wish-item-block-bottom.rent {
    background: #47b04b;
}

.available-now-description img,
.wishlist-description img {
    height: 12px;
    margin-bottom: 3px;
}

.wishlist-description {
    background-color: #ffffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 15px 25px 0 25px;
    box-shadow: 0 2px 4px 0 rgba(53, 47, 41, 0.1);
}

.available-now-description p,
.wishlist-description p {
    height: 18px;
    font-size: 12px;
    text-align: left;
    color: #253238;
    font-variant-numeric: oldstyle-nums;
}

#map .map-price {
    font-weight: bold;
    font-size: 18px;
    color: #47B04B;
}

.available-now-description p.place-address,
.wishlist-description p.place-address {
    height: 51px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(37, 50, 56, 0.1);
}

.review-rate,
.available-now-description p.place-rating,
.wishlist-description p.place-rating {
    color: #47b04b;
}

div.place-rating img {
    height: 16px;
    margin-bottom: 3px;
}

div.place-rating {
    color: #47b04b;
    font-size: 16px;
    text-align: left;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-right-30 {
    padding-right: 30px;
    border-right: 1px solid #dddddd;
}

.rating-stars {
    float: right;
}

.text-margin {
    margin: 0 45px;
}

.icon-star-empty {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px;
    margin-bottom: 5px;
    margin-left: 1px;
    vertical-align: middle;
    background-image: url(../img/empty-star.png);
    background-repeat: no-repeat;
}

.icon-star-half-empty {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px;
    margin-bottom: 4px;
    margin-left: 1px;
    vertical-align: middle;
    background-image: url(../img/half-star.png);
    background-repeat: no-repeat;
}

.icon-star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px;
    margin-bottom: 4px;
    margin-left: 1px;
    vertical-align: middle;
    background-image: url(../img/full-star.png);
    background-repeat: no-repeat;
}

.wish-item-block .icon-star,
.wish-item-block .icon-star-half-empty,
.wish-item-block .icon-star-empty {
    width: 12px;
    height: 12px;
    background-size: 12px;
}

.available-now-description {
    background-color: #ffffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 20px 25px 0 25px;
    box-shadow: 0 2px 4px 0 rgba(53, 47, 41, 0.1);
}

.new-places-for-rent {
    padding-bottom: 65px;
}

.wish-item-stars span {
    background: url(../img/white-star.png) no-repeat left center;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 300;
}

.nav ul li ul li a span.orange,
span.orange {
    color: #ff5607;
}

span.yellow {
    color: #ffeb3a;
}

span.green {
    color: #64dd17;
}

.wish-item-desc {
    color: #727272;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 15px 12px;
    padding-bottom: 5px;
    text-align: justify;
}

.wish-item-desc span {
    color: #202020;
    word-break: break-all;
}

[class*="column"] + [class*="column"]:last-child {
    float: left;
}

.frontapage {
    display: none !important;
}

.fixed .frontapage {
    display: inline-block !important;
}

.header.fixed {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* list-edit your space */

.edit-profile .submit {
    float: right !important;
    text-align: right;
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 300;
}

.list-edit-your-space .submit span, .edit-profile .submit span {
    color: #b20000;
}

.edit-profile .submit button {
    margin-left: 20px;
    margin-top: 5px;
}

.img-button {
    display: none;
}

.img-upload-main {
    margin-bottom: 25px;
}

.img-upload-main > img {
    width: 100%;
    position: relative;
    max-height: 400px;
}

.img-wrap .img-button {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px 8px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #F00;
}

.img-upload-thumbs {
    margin-bottom: 30px;
}

.img-upload-thumbs ul li {
    width: 18.4%;
    margin-right: 2%;
    display: inline-block;
    float: left;
    min-width: 90px;
    min-height: 90px;
    position: relative;
}

.img-upload-thumbs ul li img {
    position: relative;
    margin-bottom: 7px;
}

.img-upload-thumbs ul li:last-child {
    margin-right: 0px;
}

.list-edit-img-upload .btn-grey {
    margin-bottom: 25px;
}

/* payment page */

.payment-page {
    padding-top: 50px;
}

.end-right {
    float: right !important;
}

.form-text {
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 25px;
}

.form-element.submit label {
    width: 55%;
    padding-top: 7px;
}

.form-element.submit label input[type="checkbox"] {
    margin-left: 5px;
}

.form-element.submit label a {
    color: #0059b2;
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}

.form-element.submit label a:hover {
    text-decoration: none;
}

.about-room-dates .form-element {
    padding-left: 0px;
}

.payment-total-price {
    border-top: 1px solid #ccc;
    padding: 20px 0px;
    color: #202020;
    font-size: 20px;
    font-weight: 700;
}

.about-room-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.about-room-slider {
    margin-bottom: 15px;
}

.about-room-content {
    margin-bottom: 10px;
}

.about-room-text {
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: justify;
    word-wrap: break-word;
}

.attribute-title {
    font-size: 16px;
    font-weight: 400;
    color: #202020;
    margin-bottom: 7px;
}

.attribute-text {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 7px;
}

/* slider */

/*.orbit-container .orbit-prev {*/
/*background: url(../img/slider-arrow-prev.png) no-repeat center center;*/
/*left: 15px;*/
/*}*/

/*.orbit-container .orbit-prev span {*/
/*display: none;*/
/*}*/

/*.orbit-container .orbit-prev:hover {*/
/*background: url(../img/slider-arrow-prev.png) no-repeat center center;*/
/*}*/

/*.orbit-container .orbit-next {*/
/*background: url(../img/slider-arrow-next.png) no-repeat center center;*/
/*right: 15px;*/
/*}*/

/*.orbit-container .orbit-next span {*/
/*display: none;*/
/*}*/

/*.orbit-container .orbit-next:hover {*/
/*background: url(../img/slider-arrow-next.png) no-repeat center center;*/
/*}*/

/*.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {*/
/*opacity: 0.7;*/
/*}*/

.front-slider {
    padding: 157px 30px 158px 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/ntnuoma.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    background-position: 50% 60%;
    object-fit: contain;
    height: 570px;
}

.gmap {
    margin-bottom: 20px;
}

#map {
    min-height: 600px;
    max-height: 700px;
    height: 100% !important;
    width: 100%;
}

#map p {
    margin: 5px 0;
    font-size: 13px;
}

#spare-room-map {
    min-height: 400px;
    max-height: 600px;
    height: 100% !important;
    width: 100%;
}

.search-date {
    position: absolute;
    left: 15px;
    top: 12px;
}

#search-price-tag {
    position: absolute;
    left: 15px;
    top: 17px;
}

#search-price-tag img {
    width: 14px;
    height: 12px;
}

.search-date img {
    width: 12px;
    height: 12px;
}

.noUi-horizontal {
    height: 15px;
    margin-top: 13px;
    margin-bottom: 6px;
}

.rs {
    margin-bottom: 13px;
    font-weight: 300;
    font-size: 15px;
}

.noUi-horizontal .noUi-handle {
    width: 28px;
    height: 24px;
    left: -12px;
}

.noUi-handle::after {
    left: 11px;
    top: 4px;
}

.noUi-handle::before {
    top: 4px;
}

.noUi-connect {
    background: #ff5607;
}

.slider-text-main {
    height: 86px;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;

    text-transform: uppercase;
}

.slider-title {
    padding-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    height: 80px;
}

form#search div.main-filter button.btn-slider-search,
.slider-form div button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    border: none;
    padding: 29px 20px 28px 40px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffffff;
    height: 80px;
}

form#search div.main-filter button.btn-slider-search {
    padding: 0;
}

form#search div.main-filter input,
form#search div.main-filter select,
.slider-form div input,
.slider-form div select {
    font-family: Moderat;
    border: none;
    height: 80px;
    padding-right: 15px;
    padding-left: 40px;
    font-size: 20px;
    text-align: left;
    color: #253238;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-orange-inverse {
    color: #ff5607;
    background-color: #ffffff;
    border: 1px solid #ff5607;
    border-radius: 2px;
    padding: 0;
    font-size: 13px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-orange-inverse:hover,
.btn-orange-inverse:focus {
    color: #ff5607 !important;
    background: #ffffff;
    border: 1px solid #ffffff;
}

#search_results {
    padding: 0 15px;
}

form#search div.main-filter button.btn-slider-search,
form#search div.main-filter input,
form#search div.main-filter select {
    height: 50px;
    font-size: 14px;
}

.slider-form .s-price select {
    padding: 0;
    padding-left: 40px;
    height: 80px;
}

.slider-form div input {
    border-right: 1px solid rgba(37, 50, 56, 0.15);
}

.slider-form div.s-date-start input,
.slider-form div.s-date-end input {
    text-align: center;
}

.slider-form div.s-place input {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.main-filter {
    height: 50px;
}

.front-search-block {
    padding: 0;
}

#slider-date {
    position: absolute;
    left: 25px;
    top: 25px;
}

#space-rent-till {
    position: absolute;
    left: 15px;
    top: 62px;
}

#space-rent-from {
    position: absolute;
    left: 15px;
    top: 6px;
}

#slider-price-tag {
    position: absolute;
    left: 15px;
    top: 25px;
}

/* view all sharing spaces*/

.view-all-storages a {
    text-transform: uppercase;
    padding: 10px 48.5px;
}

.view-all-storages {
    padding-top: 33px;
    background-image: url(../img/illustration.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    background-position: 50% 100%;
    object-fit: contain;
    height: 235px;
}

.earn-money-hero {
    padding-top: 320px;
    background-image: url(../img/index/share-your-space-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    background-position: 50% 10%;
    object-fit: contain;
    height: 600px;
}

.earn-money-hero .earn-money {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.37;
    letter-spacing: -1px;
    text-align: left;
    color: #ffffff;
    background:rgba(255, 86, 7, 0.4);
    padding-left: 15px;
}

.earn-money-hero .each-box {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.86;
    letter-spacing: -1px;
    text-align: left;
    color: #253238;
    background:rgba(255, 86, 7, 0.4);
    padding-left: 15px;
}

.earn-money-hero .btn-orange {
    text-transform: uppercase;
}

.available-now-places {
    padding-top: 65px;
}

.view-all-available-paces {
    padding-top: 30px;
    padding-bottom: 80px;
}

.available-now-places a.btn-orange {
    padding: 12px 65px;
    text-transform: uppercase;
}

span.square {
    font-size: 6px;
    position: relative;
    top: -5px;
}

.about-shareboxit {
    padding-top: 169px;
    padding-bottom: 99px;
    background-color: #253238;
}

.about-shareboxit-title {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 15px;
}

.about-shareboxit-text {
    font-size: 15px;
    line-height: 1.87;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 20px;
}

.more-about-us {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.87;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.more-about-us a {
    color: #ffffff;
}

/* spareroom view page */
.add-to-wishlist {
    bottom: 30px;
    right: 30px;
    position: absolute;
}

.view-space-photos {
    bottom: 0;
    left: 10px;
    position: absolute;
}

.visible-img img {
    width: 50%;
}

.clearing-blackout {
    background: rgba(51, 51, 51, 0.8);
}

.clearing-caption,
.clearing-assembled .clearing-container .visible-img {
    background: rgba(51, 51, 51, 0.8);
}

.clearing-assembled .clearing-container .carousel > ul {
    list-style: none;
    position: relative;
    left: 50% !important;
}

.clearing-assembled .clearing-container .carousel {
    background: transparent;
    float: right;
    position: relative;
    left: -50%;
}

.spare-room-view {
    padding: 15px 0;
}

.half-block-title {
    background: #253238;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 5px 15px;
    position: relative;
    width: 100%;
}

.half-block-title .wish-item-stars {
    position: absolute;
    right: 12px;
    top: 5px;
}

.resides {
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    right: 12px;
    top: 5px;
}

.half-block-text {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(53, 47, 41, 0.1);
    font-size: 16px;
    font-weight: 300;
    color: #253238;
    text-align: justify;
    line-height: 22px;
    margin-bottom: 25px;
    padding: 15px;
    word-wrap: break-word;
    min-height: 135px;
}

.spare-room-slider-bottom {
    background: #253238;
    padding: 7px 0px;
    margin-bottom: 30px;
    color: #fff;
}

.slider-bottom-left .wish-item-fav {
    position: relative;
    top: auto;
    left: auto;
    height: 50px;
    background: none;
    float: right;
}

.slider-bottom-left .wish-item-fav a {
    height: 50px;
}

.user-img img {
    max-width: 80px;
}

.slider-bottom-right {
    padding-top: 12px;
}

.spare-room-additional-info {
    margin-bottom: 20px;
}

.m15 {
    margin: 15px 0px;
}

.similar-list-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #253238;
    padding: 10px 20px;
    text-transform: uppercase;
}

.similar-item {
    padding: 0px 10px;
    margin-bottom: 20px;
}

.similar-item img {
    width: 100%;
}

.spare-room-similar-block {
    margin-bottom: 25px;
    margin-top: 30px;
}

.spare-room-date {
    padding-left: 0px;
    padding-right: 0px;
}

.spare-room-comment textarea {
    height: 94px;
}

#final_price {
    font-size: 20px;
}

.spare-room-options .half-block-text {
    padding-bottom: 0;
    min-height: inherit;
    padding-top: 15px;
}

.spare-room-options .btn-green {
    height: 39px;
    line-height: 20px;
}

.spare-room-btns-wide {
    background-color: #ff5607;
    border-radius: 2px;
    color: #FFF;
    height: 39px;
    line-height: 38px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 16px;
}

.spare-room-btns-wide a {
    width: 49%;
}

.search-filter .wishlist {
    padding: 0px;
}

/* front intro */

.front-intro .header {
    background: none;
}

.front-intro .orbit-container .orbit-slides-container img {
    width: 100%;
}

.slide-caption {
    font-size: 70px;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: 700;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 60px;
}

.slide-caption-sm {
    font-size: 30px;
}

.orbit-bullets-container {
    margin-top: -55px;
    position: relative;
    z-index: 4;
}

.front-slider .orbit-container .orbit-prev {
    left: 65px;
}

.front-slider .orbit-container .orbit-next {
    right: 65px;
}

.front-slider .orbit-bullets li {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.front-search .form-element {
    padding-left: 0px;
}

.s-submit {
    background: url(../img/search.svg) no-repeat left 45px center #ff5607;
    margin-bottom: 0px;
}

.s-submit:hover {
    background: url(../img/search.svg) no-repeat left 45px center #ff7246;
}

/*.s-date-start select:focus, .s-date-end select:focus, .s-place input:focus, .s-price select:focus {*/
/*border-radius: 0px;*/
/*border: none;*/
/*color: #202020 !important;*/
/*}*/

.front-search select option {
    color: #253238;
}

.dashboard ul li.current {
    background-color: #47b04b;
}

.dashboard ul li.current a {
    color: #ffffff;
}

.help-block {
    color: #ff5516;
}

.pagination {
    margin: 15px 0 30px 0;
    padding: 0;
    text-align: center;
}

ul.pagination li {
    float: none;
    display: inline-block;
}

ul.pagination li a {
    display: inline-block;
    color: #47b04b;
    font-size: 15px;
    border: 1px solid #47b04b;
    float: left;
    line-height: 28px;
}

ul.pagination li.current {
    width: 30px;
    color: #47b04b;
}

ul.pagination li a:hover {
    background: #47b04b;
    color: #ffffff;
}

ul.pagination li.current a,
ul.pagination li.current a:hover {
    background: #47b04b;
    color: #ffffff;
}

.page-prev {
    background: url(../img/page-prev.png) no-repeat center center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.page-next {
    background: url(../img/page-next.png) no-repeat center center;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.page-prev:hover {
    background: url(../img/page-prev-hover.png) no-repeat center center #ccc !important;
}

.page-next:hover {
    background: url(../img/page-next-hover.png) no-repeat center center #ccc !important;
}

.close_btn {
    position: absolute;
    top: 0px;
    right: 8px;
    font-size: 1.3em;
    color: #000;
}

/* footer */

.footer {
    background: #1e292e;
    color: #ffffff;
}

.footer-main {
    padding: 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-main div.large-3,
.footer-main .footer-contacts {
    padding-top: 9px;
}

.logo-footer img {
    width: 194px;
}

#sell-form,
#rent-form {
    display: inline;
}

.lang {
    height: 38px;
}

.lang:hover {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.lang a {
    color: #1e292e;
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    padding: 11px !important;
    padding-right: 40px !important;
    display: block;
    font-size: 15px;
    text-align: left;
}

.lang span {
    background: url("../img/dropdown-arrow.png") no-repeat scroll center center transparent;
    display: block;
    height: 6px;
    width: 10px;
    cursor: pointer;
    float: right;
    padding: 24px;
    padding-right: 35px;
    position: absolute;
    right: 0px;
    top: 0;
}

.current-language {
    font-size: 15px;
    text-align: left;
    color: #1e292e;
}

.lang:hover ul {
    display: block;
}

.footer-widgets {
    background: #1e292e;
    color: #ffffff;
}

.footer-widgets .lang:nth-child(2) ul {
    margin-right: 0;
    margin-left: 15px;
}

.footer-widgets .lang:nth-child(1) ul {
    margin-right: 15px;
    margin-left: 0;
}

.lang ul {
    left: 0;
    position: absolute;
    z-index: 99;
    display: none;
    right: 0;
    border-radius: 0;
}

.lang ul li {
    background: none repeat scroll 0% 0% #FFF;
    display: inline-block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    color: #333;
    font-size: 11px;
    text-align: center;
}

.lang ul li:hover {
    background: #efefef;
}

.lang ul li input {
    margin: 0px;
    margin-left: 8px;
    margin-right: 5px;
}

.lang ul li a {
    padding: 0px 5px;
    display: block;
    color: #1e292e;
}

.footer-links {
    padding: 40px 0 20px;
}

.footer-links ul li {
    text-align: left;
}

.footer-links ul.page-links li a {
    font-size: 15px;
    text-align: right;
    color: #ffffff;
}

.page-links {
    float: right;
}

.footer-links ul li a:hover, .footer-contacts ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    padding: 27px 15px 23px 15px;
    background-color: #192226;
}

.footer-social ul li {
    display: inline;
    margin-right: 10px;
}

.footer-social ul.page-links li {
    display: inline;
    margin-left: 40px;
    margin-right: 0;
    padding-left: 0;
}

.footer-social ul.social-links li a img {
    display: inline-block;
    line-height: 38px;
    float: left;
    margin-left: 20px;
    height: 20px;
}

.follow-us {
    float: left;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    opacity: 0.5;
}

.footer-contacts a,
.footer-contacts div {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
}

.footer-contacts {
    padding-right: 0;
}

.footer-contacts img {
    padding-bottom: 5px;
    height: 22px;
}

.copyrights {
    font-size: 13px;
    text-align: left;
    color: #ffffff;
    opacity: 0.5;
}

.solution a,
.solution {
    font-size: 13px;
    text-align: right;
    color: #ffffff;
    opacity: 0.5;
}

.datepicker td, .datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 0;
    font-size: 16px;
    padding: 4px 8px;
    background: #fff;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.datepicker {
    display: none;
    position: absolute;
    padding: 4px;
    margin-top: 1px;
    direction: ltr;
}

.datepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    color: #333;
    font-family: "Open Sans", "sans-serif";
    font-size: 13px;
    line-height: 18px;
}

.datepicker.dropdown-menu th {
    padding: 4px 5px;
}

.datepicker.dropdown-menu td {
    padding: 7px 10px;
    border: 1px solid #ebeceb;
}

.datepicker table {
    border: 0;
    margin: 0;
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
}

.datepicker td.active.day {
    background: #2ba6cb;
}

.datepicker td.active.year {
    background: #2ba6cb;
}

.datepicker td.old {
    color: #999;
}

.datepicker td.new {
    color: #999;
}

.datepicker td span.active {
    background: #2ba6cb;
}

.datepicker td.day.disabled {
    color: #eee;
}

.datepicker th.active.day {
    background: #2ba6cb;
}

.datepicker th.active.year {
    background: #2ba6cb;
}

.datepicker th.date-switch {
    width: 145px;
}

.datepicker th span.active {
    background: #2ba6cb;
}

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}

.datepicker.days div.datepicker-days {
    display: block;
}

.datepicker.months div.datepicker-months {
    display: block;
}

.datepicker.years div.datepicker-years {
    display: block;
}

.datepicker thead tr:first-child th {
    cursor: pointer;
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent;
}

.datepicker tfoot tr:first-child th {
    cursor: pointer;
}

.datepicker-inline {
    width: 220px;
}

.datepicker-rtl {
    direction: rtl;
}

.datepicker-rtl table tr td span {
    float: right;
}

.datepicker-dropdown {
    top: 0;
    left: 0;
}

.datepicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px;
}

.datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px;
}

.datepicker > div {
    display: none;
}

.datepicker-dropdown::before {
    display: none;
}

.datepicker-dropdown::after {
    display: none;
}

.datepicker-close {
    position: absolute;
    top: -30px;
    right: 0;
    width: 15px;
    height: 30px;
    padding: 0;
    display: none;
}

.table-striped .datepicker table tr td {
    background-color: transparent;
}

.table-striped .datepicker table tr th {
    background-color: transparent;
}

#inbox {
    width: 100%;
}

#inbox img {
    width: 55px;
    height: 55px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #fff;
}

#inbox td, #inbox td > a, #inbox td b {
    font-weight: normal;
    font-size: 12px;
    color: #000;
}

.not-readed td, .not-readed td > a, .not-readed td b {
    font-weight: bold !important;
    font-size: 13px !important;
    color: #000;
}

.not-readed td a {
    color: #47b04b;
}

.margin-bottom-0 {
    text-align: center;
    margin-bottom: 0px;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.font18 {
    font-size: 18px;
    margin-bottom: 7px;
}

.word-wrap {
    word-wrap: break-word;
}

.chat {
    margin: 0px 0px 20px 0px !important;
}

.chat > .sms {
    font-size: 14px;
    line-height: 1.3;
    padding: 15px 15px 30px 15px;
    background: #f4f4f4;
    min-height: 78px;
}

.send-sms {
    padding: 15px !important;
}

.chat-msg {
    margin-top: 15px !important;
}

.chat img {
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 2px solid #fff;
    min-width: 40px;
}

.sms > .date-add {
    position: absolute;
    bottom: 10px;
    left: 16px;
    font-size: 12px;
}

.grey {
    background: #edefed !important;
}

#loader {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    top: 0px;
    left: 0px;
    z-index: 200;
    text-align: center;
    opacity: 0.8;
}

#loader img {
    position: relative;
    /*margin-top: 100px;*/
    top: 33%;
}

.profile-view > h1 {
    font-size: 34px;
}

.profile-view > h2 {
    font-size: 22px;
}

.profile-view > h3 {
    font-size: 18px;
    margin-bottom: 40px;
}

.avatar-img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}

#verification-list li i {
    color: green;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

#verification-list li span {
    position: relative;
    top: -5px;
    left: 10px;
}

.padding-left-none {
    padding-left: 0px;
}

.help-item {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.help-item a > i {
    vertical-align: middle;
    padding-right: 10px;
}

.help-item > a {
    font-size: 17px;
}

.display-none {
    display: none;
}

.smaller-buttons > a {
    min-width: 130px;
    margin-left: 5px;
    margin-right: 5px;
}

#profile-img-wrap > img {
    margin-bottom: 10px;
    width: 226px;
}

.finish-step {
    min-height: 200px;
}

.finish-step > div {
    padding-top: 35px;
}

@media (min-width: 78.75em) {
    body.searchpage .footer-widgets {
        padding: 0 15px;
    }
}

/*# sourceMappingURL=foundation-datepicker.css.map */
@media only screen and (min-height: 450px) {
    .finish-step {
        min-height: 300px;
    }

    .finish-step > div {
        padding-top: 100px;
    }
}

@media only screen and (min-height: 620px) {
    .finish-step {
        min-height: 400px;
    }

    .finish-step > div {
        padding-top: 130px;
    }
}

@media only screen and (max-width: 1200px) {

    .entry {
        padding: 40px 10px;
    }

    .wishlist {
        padding: 15px 15px 45px 15px;
    }

    .form-element.submit label {
        width: 100%;
        padding-top: 2px;
        margin-bottom: 5px;
    }

}

@media (max-width: 78.75em) {
    .spare-room-view {
        padding: 15px;
    }

    .nav ul li a:last-child {
        padding-right: 20px;
    }

    .nav ul li a.btn-green {
        padding: 10px 15px;
    }

    .footer-widgets,
    .footer-bottom {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 64.001em) {
    .save-money-information img {
        top: 0;
    }

    .footer-select {
        padding-right: 0;
    }

    .footer-contacts {
        padding: 0;
    }

    .add-to-wishlist {
        bottom: -50px;
        right: 0;
        left: 0;
        text-align: center;
    }

    .fixed .frontapage,
    .frontapage {
        display: none !important;
    }

    .social-links {
        padding-bottom: 50px;
    }

    .footer-social ul.social-links li a img {
        float: none;
        margin-left: 15px;
    }

    .follow-us {
        text-align: center;
        float: none;
    }

    .footer-contacts a, .footer-contacts p {
        text-align: center;
    }

    .lang {
        margin-bottom: 15px;
    }

    .half-block-title {
        width: 100%;
    }

    .slider-bottom-right {
        padding-top: 0px;
    }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .slider-text-main {
        height: auto;
        font-size: 62px;
    }

    .reveal-modal {
        width: 38%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
    }

    .footer-contacts div {
        text-align: center;
    }

    .nav ul li a.btn-green {
        padding: 10px;
    }

    /*.lang {*/
    /*width: 70%;*/
    /*}*/
    /*.nav ul li {*/
    /*margin-right: 10px;*/
    /*}*/
    .slide-caption {
        font-size: 57px;
    }

    .header {
        padding: 0 15px;
    }

    .front-slider {
        padding: 70px 15px;
        height: 520px;
    }

    .slider-form div button {
        font-size: 16px;
        padding: 32px 40px 30px 40px
    }

    .slider-form div input,
    .slider-form div select {
        font-size: 16px;
    }

    .slider-form div input, .slider-form div select {
        padding-right: 20px;
    }

    .about-shareboxit {
        padding: 100px 0;
    }

}

@media screen and (max-width: 640px) {
    .save-money-information img {
        top: 0;
    }

    .save-money-information-img {
        padding-bottom: 15px;
    }

    .save-money-information-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30%;
        width: 60%;
    }

    .helpText .title-head span{
        font-size: 22px !important;
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .helpText .title-head .title-image{
        display: block !important;
        width: 100%;
        text-align: center;
    }

    .helpText p{
        text-align: left;
        margin: 10px 0 50px 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .helpText p br{
      line-height: 2em;
    }

    .helpText ul{
        margin-left: 0;
    }

    #shareboxit-information .small-12:nth-child(n+3) {
        padding-top: 50px;
    }

    .reveal-modal {
        min-height: 0;
    }

    .spare-room-images {
        padding-bottom: 50px;
    }

    .wishlist {
        padding-bottom: 15px;
    }

    .accordion-navigation {
        margin-top: 15px;
    }

    .dashboard-content .content {
        margin-top: 20px;
    }

    .content {
        margin-top: 60px;
    }

    .main-filter {
        height: 50px;
    }

    .main-filter .btn-orange-inverse {
        width: 100%;
        font-size: 14px;
        padding: 12px 10px;
        height: 40px;
    }

    #search div.submit {
        float: right;
    }

    #more-filters-content > .small-12 {
        border-bottom: 1px solid rgba(37, 50, 56, 0.1);
        padding: 10px 0 5px;
    }

    #more-filters-content {
        padding: 0 15px;
    }

    #more-filters-content .rs {
        padding-right: 0;
    }

    form#search div.main-filter button.btn-slider-search, form#search div.main-filter input, form#search div.main-filter select {
        height: 40px;
        padding: 5px 5px 5px 37px;
    }

    #search-price-tag,
    .search-date {
        top: 7px;
    }

    form#search div.main-filter button.btn-slider-search {
        padding-left: 5px;
    }

    .all-reviews .small-12 {
        padding: 0;
    }

    #show-all-reviews .user-review-text {
        padding: 10px 0;
    }

    .all-reviews .btn-orange {
        width: 100%;
        margin: 15px 0;
    }

    .clearing-thumbs {
        text-align: center;
    }

    .spare-room-comment,
    .about-room-attributes {
        padding: 0;
    }

    .clearing-thumbs li {
        float: none;
        margin-right: 0;
    }

    .spare-room-about {
        padding-top: 30px;
    }

    .header {
        top: 0px;
    }

    .footer-widgets, .footer-bottom {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-links {
        float: none;
    }

    .footer-social ul.page-links li {
        display: block;
        margin-left: 0;
        padding-bottom: 15px;
    }

    .footer-contacts a,
    .footer-contacts div {
        text-align: center;
    }

    .earn-money-hero .earn-money {
        line-height: 1.11;
        text-align: center;
        padding-bottom: 15px;
    }

    .wish-item {
        padding: 0;
    }

    .footer-main {
        padding: 40px 0 30px;
    }

    .footer-links {
        padding: 30px 0;
    }

    .view-all-available-paces {
        padding-top: 5px;
        padding-bottom: 100px;
    }

    .copyrights {
        padding-bottom: 15px;
    }

    .about-shareboxit {
        padding-top: 60px;
        padding-bottom: 37px;
    }

    .earn-money-hero .each-box {
        line-height: 1.14;
        text-align: center;
        padding-bottom: 40px;
    }

    .earn-money-hero .large-6 {
        text-align: center;
    }

    .earn-money-hero {
        padding-top: 60px;
        height: 440px;
    }

    .earn-money-hero .btn-orange,
    .view-all-storages a {
        padding: 14px 30%;
    }

    .new-places-for-rent {
        padding-bottom: 20px;
    }

    .slider-form .s-price {
        height: 60px;
    }

    .slider-form .s-price select,
    .slider-form div input, .slider-form div select {
        height: 60px;
        border-radius: 0;
        font-size: 16px;
        width: 100%;
        margin-bottom: 0;
        border: solid 1px rgba(37, 50, 56, 0.15);
    }

    .slider-form div button {
        height: 60px;
        padding-top: 20px;
    }

    .slider-form div.s-date-start input, .slider-form div.s-date-end input {
        text-align: left;
    }

    .slider-title {
        padding-bottom: 0;
        height: auto;
        margin-bottom: 0;
    }

    input.place-search {
        background: url(../img/icon-search.png) no-repeat left 15px center #fff !important;
    }

    #slider-date,
    #slider-price-tag {
        left: 15px;
        top: 15px;
    }

    .slider-text-main {
        font-size: 60px;
        line-height: 1.13;
        letter-spacing: -0.5px;
        height: auto;
    }

    .header {
        padding: 15px;
    }

    .logo a {
        display: none;
    }

    .logo .logo-mobile {
        display: block;
    }

    .footer-links ul li {
        text-align: center;
    }

    .content.dash {
        padding: 14px 10px;
    }

    .dashboard {
        padding-left: 0px;
        margin-bottom: 25px;
    }

    .dashboard.transaction {
        padding-left: 0px;
    }

    .form-element {
        padding-left: 0px;
    }

    .dashboard-content {
        padding: 0px;
    }

    .form-label {
        margin-bottom: 4px;
    }

    .nav ul {
        display: none;
    }

    .trigger {
        display: block;
    }

    .transactions-accordion {
        display: block;
    }

    .transactions-tabs {
        display: none;
    }

    .search-filter {
        overflow-y: hidden;
        height: auto;
    }

    .resides {
        font-size: 16px;
        font-weight: 300;
        position: relative;
        right: auto;
        top: auto;
        width: 45%;
        display: inline-block;
        text-align: right;
    }

    .spare-room-images, .spare-room-about-owner, .spare-room-similar {
        padding-right: 0px;
    }

    .spare-room-about, .spare-room-additional-info, .spare-room-map {
        padding-left: 0px;
    }

    .btn-green, .btn-grey, .btn-orange {
        min-width: 130px;
    }

    .front-slider {
        padding: 40px 15px 30px 15px;
        height: auto;
    }

    .slide-caption {
        font-size: 26px;
        line-height: 30px;
    }

    .slide-caption-sm {
        font-size: 18px;
    }

    .front-intro .orbit-container .orbit-slides-container img {
        width: 100%;
        min-height: 220px;
    }

    .orbit-container .orbit-slides-container {
        min-height: 220px;
    }

    .page-title {
        padding: 50px 15px 19px 15px;
        margin: 0;
    }

    .front-search-block {
        padding: 20px 0%;
    }

    .s-submit {
        font-size: 18px;
    }

    .shareboxit-information {
        padding: 60px 0 0;
    }

    .nav ul {
        position: fixed;
        left: 0;
        top: 60px;
        border-top: 1px solid rgba(37, 50, 56, 0.15);
        border-bottom: 1px solid rgba(37, 50, 56, 0.15);
        background: #ffffff;
        height: auto;
        width: 100%;
        padding-bottom: 15px;
    }

    .nav ul li a {
        padding: 15px;
    }

    .nav ul.users-links {
        top: 0;
        border-bottom: 1px solid rgba(37, 50, 56, 0.15);
    }

    .nav ul li ul li,
    .nav ul li {
        display: block;
        text-align: center;
        margin-right: 0;
        padding: 10px;
    }

    #no-user li {
        height: 50px;
        line-height: 25px;
    }

    .nav ul li a {
        font-weight: 500;
        color: #202020;
        font-size: 15px;
    }

    .nav ul li ul li:first-child,
    .nav ul li ul li:last-child {
        border-radius: 0;
        padding-bottom: 15px;
    }

    .nav ul li a:hover {
        color: #47b04b;
    }

    .nav ul li ul {
        position: relative;
        padding: 0;
    }

    .nav ul li ul:before {
        display: none;
    }

    .nav ul li ul li a {
        padding: 5px;
    }

    .nav .btn-green {
        color: #fff !important;
        margin-top: 10px;
    }

    .nav .btn-green:hover {
        color: #fff !important;
    }

    .sign-up-tab, .log-in-tab, .sign-up-email-tab {
        display: block;
    }

    .pop-up-text a {
        color: #39589a !important;
        font-size: 14px !important;
        font-weight: 300 !important;
        text-decoration: underline;
    }

    .pop-up-bottom a {
        color: #39589a !important;
        font-size: 14px;
        font-weight: 300 !important;
        text-decoration: underline;
    }

    .social-login-text a {
        color: #39589a !important;
        font-weight: 300 !important;
    }

    .user:hover {
        color: #62CC67 !important;
    }

    .wish-item .img-holder img {
        max-height: 450px;
    }

    .front-slider .orbit-prev, .front-slider .orbit-next {
        display: none;
    }

}

@media screen and (max-width: 440px) {
    .hide-pagination-sm {
        display: none !important;
    }
}

@media screen and (max-width: 400px) {
    .profile {
        float: none;
        width: 100% !important;
    }

    .profile-info {
        float: none;
        width: 100% !important;
    }

    .profile-comm {
        text-align: center;
    }

    .fileinput-button {
        margin-right: 0;
    }

    a.roomspace::after {
        display: none;
    }

    a.roomspace:hover::after {
        display: inline;
    }

}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
}

.white-bg,
#paymentModal {
    background-color: #ffffff;
}

.reveal-modal.tiny {
    top: -60px !important;
}


.checkboxSlide {
    width: 85px;
    height: 32px;
    background: #ff5607;
    /*margin: 20px 60px;*/
    border-radius: 50px;
    position: relative;
}

.checkboxSlide:before {
    content: 'On';
    position: absolute;
    top: 3px;
    left: 13px;
    height: 2px;
    color: #ffffff;
    font-size: 16px;
}

.checkboxSlide:after {
    content: 'Off';
    position: absolute;
    top: 3px;
    left: 52px;
    height: 2px;
    color: #ffffff;
    font-size: 16px;
}

.checkboxSlide label {
    display: block !important;
    width: 35px;
    height: 22px;
    border-radius: 50px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 1;
    left: 0px;
    background: #ffffff;
}

.checkboxSlide input[type=checkbox]:checked + label {
    left: 35px;
    background: #26ca28;
}

.checkboxSlide input {
    display: none;
}